/* style.css*/

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  font-family: 'Rancho', cursive;
  font-size: 1.2em;
  width: 100%;
  height: 3em;
  background-color: #454f4f;
  margin-top: -1em;
}  

#navbar-container {
  float: left;
  width: 100%;
  text-align: center;
}

nav ul {
  padding-top: .25em;
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  margin: 0;
  float: left;
}

nav ul li a {
  text-align: center;
  display: block;
  float: left;
  color: silver;
  text-decoration: none;
  overflow: hidden;
  padding: .2em 1em 0 1em;
  vertical-align: middle;
  font-weight: 200;
} 

nav ul li a:hover {
  color: #fadd84;
}  

#navbar-container #onpage {
  color: silver;
}

body.resume {
  margin: 0;
  padding: 0;
  border: 0;
  background: #cafaf8;
  font-family: 'Acme', sans-serif;
}

div,
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

div#resume h1 {
  font-size: 2.6em;
  color: #1237db;
  margin-top: -.10em;
  padding-bottom: .5em;
}

div#resume h2 {
  font-size: 1.8em;
  color: #1237db;
  margin-top: 0;
  padding-bottom: .3em;
}

div#resume h4 {
  font-size: 1.2em;
  padding-top: .3em;
  padding-bottom: .3em;
}

.dim {
  color: #969696;
  font-size: .7em;
}

p, ul {
  font-weight: 400;
  font-size: 1em;
}

ul.bullet {
  padding-left: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
}

li.bullet {
  padding: 0;
  list-style-type: square;
  margin: 0 0 .5em .5em;
}

li.no_bullet {
  padding: 0;
}

/*
ul.bullet li::before {
  color: #5C5858;
  display: inline-block;
  left: -1.1225em;
  position: absolute;
  top: 0em;
}*/

li.location {
  background: url('images/location.jpg') no-repeat left top;
  background-position: .4% .95em;
  font-size: 1.1em;
  padding-right: 1.8em;
  text-decoration: none;
  list-style-type: none;
  padding-top: 1em;
	padding-bottom: .6em;
	text-align: left;
	text-indent: 4%;
}

li.location a:hover {
  color: #ffbf00;
}

li.mail {
  background: url('images/mail.jpg') no-repeat left top;
  background-position: 0% 0em;
  font-size: 1.1em;
  padding-right: 1.8em;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: .6em;
  text-align: left;
  text-indent: 4.8%;
}

li.mail a:hover {
  color: #ffbf00;
}

li.github {
  background: url('images/github.png') no-repeat left top;
  background-position: 0% 0em;
  font-size: 1.1em;
  padding-right: 1.8em;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: .6em;
  text-align: left;
  text-indent: 4.8%;
}

li.github a:hover {
  color: #ffbf00;
}

.a_noformat {
  text-decoration: none;
  color: black;
}
.a_underline {
	text-decoration: none;
	color: silver;
}

#infobox {
  box-sizing: border-box;
  box-shadow: 0 0 .625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  border: .125em;
  padding: 0%;
  padding-right: 0%;
  background-color: #ebf0f0;
  width: 50%;
  overflow: hidden /* keep div elements from floating out of the box */
}

.infobox {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  border: .125em;
  border-right: 1em;
  margin-right: 0%;
  padding: 5.5%;
  background-color: #ebf0f0;
}

div.infobox {
  font-family: 'Acme', sans-serif;
  color: #0020f0;
}

div.infobox p {
  font-size: 3em;
}	

.selfie {
  /*width: 25%;*/
  float: right;
  border: none;
  overflow: hidden;
  width: 18em;
  height: 17em;
  margin-top: 2em;
}

#borderbox1 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  margin-top: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  border: .125em;
  padding: 2.5%;
  background-color: #ebf0f0;
}

#borderbox2 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  margin-top: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  border: .125em;
  padding: 2.5%;
  background-color: #ebf0f0;
}

#borderbox3 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  margin-top: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  border: .125em;
  padding: 2.5%;
  background-color: #ebf0f0;
}

.borderbox1 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  border: .125em;
  padding: 3.5%;
  background-color: #ebf0f0;
}

.borderbox2 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  border: .125em;
  padding: 3.5%;
  background-color: #ebf0f0;
}

.borderbox3 {
  box-sizing: border-box;
  box-shadow: 0 0 .0625em 0 rgba(0, 0, 0, .15), 0 .125em .1875em 0 rgba(0, 0, 0, .2);
  border: .125em;
  padding: 3.5%;
  background-color: #ebf0f0;
}

body.jamaica {
  color: #eb7d00;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 0;
  border: 0;
  background: #f5f5f2;
}

div#jamaica,
img,
embed,
object {
  max-width: 100%;
  height: auto;
}

div.video {
  border-radius:1em;
  padding: 1em;
  margin: 0 auto;
  max-width: 26.3%;
  height: auto;
  border: .625em outset #dddddd;
  border-color: silver;
  margin-top: 40px;
  margin-right: 550px;
  margin-bottom: 20px;
}

div#jamaica h2 {
  font-size: 1.8em;
  color: #1237db;
  font-weight: 600;
  padding-top: 1.5em;
  padding-bottom: .2em;
  text-align: center
}

div#jamaica p {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

div.row1 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-left: -25px;
  margin-top: -30px;
}

div.row2 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-left: -40px;
  margin-top: 40px;
  margin-bottom: 50px;
}

div.row3 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-indent: 5em;
  margin-left: -70px;
  margin-top: 40px;
  margin-bottom: 50px;
}

div.row4 p {
  color: #1237db;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
}

#jamaica {
  width: 95%; margin: 5% auto;
}

div#jamaica .row {
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

div#jamaica div.clear {
  clear: both;
}

div#jamaica ul.polaroids li {
  display: inline;
}

div#jamaica .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

div#jamaica ul.polaroids a {
  background: #ffffff;
  display: inline;
  float: left;
  margin: 0 0 1.6875em 3.875em;
  width: auto;
  padding: .625em .625em .9375em;
  text-align: center;
  font-family: 'Acme', cursive;
  text-decoration: none;
  color: #333;
  font-size: 1.125em;
  -webkit-box-shadow: 0 .1875em .375em rgba(0,0,0,.25);
  -moz-box-shadow: 0 .1875em .375em rgba(0,0,0,.25); 
}

div#jamaica ul.polaroids img {
  display: block;
  margin-bottom: .75em;
  width: 20em;
}	

div#jamaica ul.polaroids a:after {
  content: attr(title); 
}

body.paws {
  color: #6e6d6d;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 0;
  border: 0;
  background: #c2bec0;
}

div#paws .section {
  float: right;
  margin-top: 8em;
  margin-right: 17em;
}

div#paws .section2 {
  float: left;
  margin-top: 2em;
  margin-left: 15em;
}

div#paws .section3 {
  float: left;
  margin-top: 2em;
  margin-left: 15em;
}

body.paws {
  font-family: 'Just Another Hand', cursive;
  color: #1d2324;
  width: 300px;
  height: 50px;	
}

div#paws .row figure {
  margin: auto;
  border: 1px solid black;
  border-radius: 1em;
  margin-bottom: 1em;
  vertical-align: middle;
  text-align: center;
  background-color: #fff5f5;
  font-family: 'Just Another Hand', cursive;
}

div#paws h1 {
  text-align: center;
  color: #f00c9c;
  font-family: 'Bebas Neue', cursive;
}

div#paws h2 {
  text-align: center;
  color: #02b558;
  font-family: 'Rancho', cursive;
  font-size: 30px;
}

div#paws h3 {
  text-align: center;
  color: #0020f0;
  font-family: 'Rancho', cursive;
  font-size: 30px;
}

div#paws p {
  text-align: center;
  color: #000000;
  font-family: 'Acme', cursive;
  font-size: 19px;
}

div#paws .section p {
  text-align: center;
  color: #000000;
  font-family: 'Acme', cursive;
  font-size: 19px;
}

div.clear {
  clear: both;
}

html.map {
  height: 96%
  margin: 0;
  padding: 0;
}

.slideshow {
  max-width: 550px;
  margin: 0 auto;
}

.bx-wrapper img {
  margin: 0 auto;
}